$background: #f00;
$color: #fff;

@keyframes pulse {
  0% {
    background: adjust-hue($color: $background, $degrees: 0);
    color: adjust-color($color: $color, $lightness: -100%, $alpha: 1.0)
  }

  25% {
    background: adjust-hue($color: $background, $degrees: 90);
    color: adjust-color($color: $color, $lightness: 100%, $alpha: 1.0)
  }

  50% {
    background: adjust-hue($color: $background, $degrees: 180);
    color: adjust-color($color: $color, $lightness: -100%, $alpha: 1.0)
  }

  75% {
    background: adjust-hue($color: $background, $degrees: 240);
    color: adjust-color($color: $color, $lightness: 100%, $alpha: 1.0)
  }
  
  100% {
    background: adjust-hue($color: $background, $degrees: 360);
    color: adjust-color($color: $color, $lightness: -100%, $alpha: 1.0)
  }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    overflow: hidden;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: $color;
    background: $background;
    animation: 3s alternate-reverse infinite pulse;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#particles {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

header {
    padding: 5% 20%;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
    }

    .face {
        max-width: 300px;
        z-index: 1;
        animation: 2s both infinite rotate;
    }

    .description {
        font-family: 'Comfortaa', cursive;
    }

    ul {
        position: relative;
        list-style: none;
        color: white;

        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            padding: 0;
        }

        a {
            color: white;
            animation: 3s alternate-reverse infinite pulse;
        }

        .icon {
            width: 1.3rem;
            animation: 1s alternate-reverse infinite pulse;
        }
    }
}

footer {
    background: #45a1ff;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;

    p {
        margin: 0;
    }
}
